<section class="articles">
    <div class="container">
        <h2 class="text-success mbxl">Our promise to you</h2>
        <div class="row">
            <article class="col-sm-4 article-item mbxl">
                <img alt="founders.png" data-src="https://d3p7z1qndrc1ec.cloudfront.net/au/cms/Sushi/Homepage/founders.png" src="https://d3p7z1qndrc1ec.cloudfront.net/au/cms/Sushi/Homepage/founders.png">                <h3 class="article-header mtl">Our Mission</h3>
                <p>We're committed to providing the best and freshest quality produce, and we don't think delicious dinners should have to cost the earth. Ultimately, we want to get you in the kitchen and cooking happy. Good food should be fun! <a href="/aboutus_ingredients/" class="article-read-more">Read more &gt;</a></p>
            </article>
            <article class="col-sm-4 article-item mbxl">
                <div class="visible-xs mbl"><img alt="kochexperten.png" data-src="https://d3p7z1qndrc1ec.cloudfront.net/au/cms/Sushi/Homepage/kochexperten.png"></div>
                <h3 class="article-header">Dedicated Chefs</h3>
                <p>We create new, delicious recipes every week. We use seasonal produce to give you healthy, nutritionally balanced meals. Do not fear: all our recipes are easy to follow and prepared in a flash! <a href="/meet-the-chef/" class="article-read-more">Read more &gt;</a></p>
                <div class="hidden-xs mtl"><img alt="kochexperten.png" data-src="https://d3p7z1qndrc1ec.cloudfront.net/au/cms/Sushi/Homepage/kochexperten.png" src="https://d3p7z1qndrc1ec.cloudfront.net/au/cms/Sushi/Homepage/kochexperten.png"></div>
            </article>
            <article class="col-sm-4 article-item mbxl">
                <img alt="suppliers.png" data-src="https://d3p7z1qndrc1ec.cloudfront.net/au/cms/Sushi/Homepage/suppliers.png" src="https://d3p7z1qndrc1ec.cloudfront.net/au/cms/Sushi/Homepage/suppliers.png">                <h3 class="article-header mtl">Trusted Suppliers</h3>
                <p>Our seasonal produce is sourced locally. We know our suppliers personally and make sure that only the best ingredients make it into your box. <a href="/our-suppliers/" class="article-read-more">Read more &gt;</a></p>
            </article>
        </div>

        <div class="row mtxl">
            <div class="col-sm-12 text-center strong mbm">
                Convinced?                </div>
            <div class="col-sm-offset-4 col-sm-4 text-center">
                <a class="btn btn-primary btn-lg btn-block" href="/food-boxes/">
                    View boxes!                    </a>
            </div>
        </div>
    </div>
</section>